<meta charset="UTF-8"></meta>
<div id="b">
	<div class="container">
	<form action="/admin/book/save" method="post" onSubmit="return checkBookForm()" enctype="multipart/form-data">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="row" align="center" style="padding-top: 2%;padding-bottom:3%">
					<div id="book_textName" >
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1" style="height: 35px"><span><label>图&nbsp;书&nbsp;标&nbsp;题：</label></span></span>
							<input type="text" class="form-control" id="name" name="name" style="width: 70%; height: 35px"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-5">
								<div class="book_image">
									<div style="text-align: right">
										<img class="bookImage" src="/static/images/bookAddImage.jpg" style="width: 140px;height: 198px;"/>
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div id="book_textInfo" class="row book_textInfo">
									<div class="col-md-12">
										<div class="row info">
											<div class="col-md-4">
												<label>作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;者：</label>
											</div>
											<div class="col-md-8">
												<input type="text" class="form-control" id="ahthor" name="author"/>
											</div>
										</div>
										<div class="row info">
											<div class="col-md-4">
												<label>出&nbsp;&nbsp;&nbsp;版&nbsp;&nbsp;&nbsp;社：</label>
											</div>
											<div class="col-md-8">
												<input type="text" class="form-control" id="publisher" name="publisher"/>
											</div>
										</div>
										<div class="row info">
											<div class="col-md-4">
												<label>图&nbsp;书&nbsp;类&nbsp;别：</label>
											</div>
											<div class="col-md-8"  >
												<select id="bookType" name="bookTypeId">
													<option th:each="bookType:${application.bookTypeList}" th:value="${bookType.id}" th:text="${bookType.name}"></option>
												</select>
											</div>
										</div>
										<div>
											<input type="hidden" name="id"/>
											<input type="hidden" name="imageName"/>
										</div>
										<div class="row info">
											<div class="col-md-4">
												<label>封&nbsp;面&nbsp;图&nbsp;片：</label>
											</div>
											<div class="col-md-8">
												<input type="file" id="imageFile" name="imageFile"/>
											</div>
										</div>
										<div class="row info">
											<font id="error" color="red" size="2%"></font>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div style="float:left">
								<label><strong>简介：</strong></label>&nbsp;&nbsp;
							</div>
							<div id="book_textareaContent">
								<textarea name="content" style="width:100%;height:200px;"></textarea>
							</div>
						</div>
					</div>
				<div class="row">
					<div class="col-md-12">
						<div id="bookButton" align="center">
							<button class="btn btn-primary btn-primary" id="save" type="submit">保存</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	</form>
	</div>
</div>