<meta charset="UTF-8"></meta>
<div id="u">
	<div class="container">

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="row" align="center" style="padding: 3%">
					<h3>
						<strong>用&nbsp;户</strong>
					</h3>
				</div>
				<div class="row" style="padding:0">
					<form id="fm" action="/admin/user/list/1" method="post">
					<div class="col-md-5">
						<label class="label">用户名：</label>
						<input type="text" class="form-control" id="s_name" name="userName" th:value="${s_user.userName}" onkeydown="if(event.keyCode==13) search()"/>
					</div>
					<div class="col-md-5">
						<label class="label">真实姓名：</label>
						<input type="text" class="form-control" id="s_author" name="trueName" th:value="${s_user.trueName}" onkeydown="if(event.keyCode==13) search()"/>
					</div>
					<div class="col-md-2">
						<div style="float:right">
							<a href="javascript:search()">搜索</a>
						</div>
					</div>
					</form>
				</div>
				<div class="row">
						<div class="row" style="border: 1px solid #ddd">
							<table class="table">
								<thead>
									<tr>
										<th>序号</th>
										<th>用户名</th>
										<th>真实姓名</th>
										<th>邮箱</th>
										<th>激活状态</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="user,userStat:${userList}">
										<th scope="row" th:text="${userStat.index+1}"></th>
										<td th:text="${user.userName}"></td>
										<td th:text="${user.trueName}"></td>
										<td th:text="${user.email}"></td>
										<td th:text="${user.state}!=0?'已激活':'未激活'"></td>
										<td>
											<a th:href="'javascript:userAudit('+${user.id}+')'">激活</a>
											<a th:href="'javascript:userDelete('+${user.id}+')'">删除</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row">
							<nav>
								<ul class="pagination" th:utext="${pageCode}">
								</ul>
							</nav>
						</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
