<meta charset="UTF-8"></meta>
<div id="n">
	<div class="container">
	<form action="/admin/notice/save" method="post" onSubmit="return checkNoticeForm()">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="row" align="center" style="padding: 3%;padding-bottom:1%">
					<div id="notice_fontTitle">
						<h3>
							<strong th:text="'《'+${notice.title}+'》'"></strong>
						</h3>
					</div>
					<div id="notice_textTitle" style="display:none">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1" style="height: 35px"><span><label>通&nbsp;知&nbsp;标&nbsp;题：</label></span></span>
							<input type="text" class="form-control" id="title"
										name="title" th:value="${notice.title }"
										style="width: 100%; height: 35px"/>
						</div>
					</div>
					<div align="center">
						<div style="padding-top:5px">
							<font id="titleError" color="red" size="2%"></font>
						</div>
						<div style="float:right;margin-right:50px;margin-top:10px">
							<font th:text="${#dates.format(notice.releaseDate,'yyyy-MM-dd HH:mm')}" color="blue" size="3" ></font>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div style="float: right;padding-bottom:1%">
							<a href="javascript:noticeEdit()">编辑</a>
						</div>
						<div class="row">
							<div id="notice_divContent">
								<div th:utext="${notice.content}" class="notice_content"></div>
							</div>
							
							<div id="notice_textareaContent" style="display: none">
								<textarea name="content" th:text="${notice.content}" style="width:100%;height:350px;"></textarea>
							</div>
						</div>
						<div>
							<input type="hidden" name="id" th:value="${notice.id}"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div align="center" style="padding-top: 2%">
							<button class="btn btn-primary btn-primary" id="save" type="submit" disabled="disabled">保存</button>
							<button class="btn btn-primary btn-primary" type="button" onClick="javascript:history.back()">返回</button>
						</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</form>
	</div>
</div>