<meta charset="UTF-8"></meta>
<div id="r">
	<div class="container">

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="row" align="center" style="padding: 3%">
					<h3>
						<strong>图&nbsp;书</strong>
					</h3>
				</div>
				<div class="row">
						<div class="row" style="border: 1px solid #ddd">
							<table class="table">
								<thead>
									<tr>
										<th>序号</th>
										<th>图书名称</th>
										<th>作者</th>
										<th>出版社</th>
										<th>图书类别</th>
										<th>借阅时间</th>
										<th>归还时间</th>
										<th>等待人数</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="map,mapStat:${mapList}">
										<th scope="row" th:text="${mapStat.index+1}"></th>
										<td>
											<a th:href="'/user/book/'+${map.book.id}+'?userName='+${#httpServletRequest.remoteUser}" th:name="${map.book.name}" th:text="${map.book.name}"></a>
										</td>
										<td th:text="${map.book.author}"></td>
										<td th:text="${map.book.publisher}"></td>
										<td th:text="${map.book.bookType.name}"></td>
										<td>
											<div th:if="${map.book.lendDate}!=null">
												<font th:text="${#dates.format(map.book.lendDate,'yyyy-MM-dd HH:mm')}" color="blue"></font>
											</div>
											<div th:if="${map.book.lendDate}==null">暂无</div>
										</td>
										<td>
											<div th:if="${map.book.returnDate}!=null">
												<font th:text="${#dates.format(map.book.returnDate,'yyyy-MM-dd HH:mm')}" color="blue"></font>
											</div>
											<div th:if="${map.book.returnDate}==null">暂无</div>
										</td>
										<td th:text="${map.previousCount}"></td>
										<td>
											<a th:href="'javascript:bookReservationCancel('+${map.book.id}+')'">取消</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row">
							<nav>
								<ul class="pagination" th:utext="${pageCode}">
								</ul>
							</nav>
						</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
