<meta charset="UTF-8"></meta>
<div id="m">
	<div class="left_menu">
			<ul id="nav_dot">
				<li>
					<h4 class="M10">
						<span></span>通知管理
					</h4>
					<div class="list-item none">
						<a href='/admin/notice/list/1'>通知列表</a> <a href="/admin/notice/add">通知添加</a>
					</div>
				</li>
				<li>
					<h4 class="M10">
						<span></span>图书管理
					</h4>
					<div class="list-item none">
						<a href="/admin/book/list/1">图书列表</a> <a href="/admin/book/add">图书添加</a>
					</div>
				</li>
				<li>
					<h4 class="M10">
						<span></span>图书类别管理
					</h4>
					<div class="list-item none">
						<a href="/admin/bookType/list/1">图书类别列表</a> <a href="/admin/bookType/add">图书类别添加</a>
					</div>
				</li>
				<li>
					<h4 class="M10">
						<span></span>用户管理
					</h4>
					<div class="list-item none">
						<a href="/admin/user/list/1">用户列表</a>
					</div>
				</li>
				<li>
					<h4 class="M10">
						<span></span>系统管理
					</h4>
					<div class="list-item none">
						<a href="javascript:systemRefresh()">刷新缓存</a> <a href="/admin/preModifyPwd">修改密码</a> <a href="javascript:logout()">安全退出</a>
					</div>
				</li>
			</ul>
		</div>
</div>
